<!-- A3  -->
<div class="container">
  <div class="izquierda">
    <!-- A10 aqui tenemos que capturar el evento que esta lanzando el formulario
    .... desde el padre se captura el evento que esta emitiendo el hijo 
  se llama (tareaCreada) y lo podemos asignar a cualquier metodo ...y aqui 
el output si que cobra imoprtancia el $event porque estamos emitiendo desde el hijo
ahora el onTareaCreada($event) definimos en ts A11-->
    <app-formulario (tareaCreada)="onTareaCreada($event)"></app-formulario>
  </div>
  <div class="derecha">
    <!-- A13 le voy a pasar a su propiedad tareas el array tareas
    cuidado simpre que le pasemos JS se le pone la propiedad entre []  -->
    <!-- ya tenemos el array dentro del hijo ///Ahora vamos a iterarlo
    para que se muestren las diferentes tareas me voy al html dela lista A14 -->
    <app-lista [tareas]="arrTareas"></app-lista>
  </div>
</div>